<div class="container">
  <h2>
    User-Provided Project Names
  </h2>
  <p *ngFor="let projectName of projects" class="item">
    <app-ellipsis-component [text]="projectName">
    </app-ellipsis-component>
  </p>
  <mat-form-field appearance="fill">
    <mat-select [formControl]="projectName">
      <mat-select-trigger style="display: block;">
        <app-ellipsis-component [text]="projectName.value!" #selectdata>
        </app-ellipsis-component>
      </mat-select-trigger>
      <mat-option *ngFor="let projectName of projects" [value]="projectName">{{projectName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  {{selectdata.leftText}} ---- | ------ {{selectdata.rightText}}
</div>